/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 2%;
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenedor */
  align-items: flex-start; /* Alinea el contenido al inicio vertical */
  min-height: 100vh; /* Opcional: asegura que el body ocupe al menos la altura de la pantalla */
}